@page
@model FoodiesLounge.Pages.Customer.Home.IndexModel

<div class="row container pb-3 backgroundWhite" >
	@foreach(var category in Model.Category){
	<h2 class="text-info pl-1"><u><b>@category.name</b></u></h2>
	<div class="col-12">
		<div class="row my-3">
			@foreach(var menuItem in Model.MenuItem.Where(u=>u.CAtegoryId==category.Id)){

				 <div class="card" style="max-width:330px;">
                <div class="row g-0">   
                        <img src="@menuItem.Image"  class="card-img"  alt="Responsive Image"
             width="330" height="240" />
                    
                   
                    </div>
                    <div class="col-md-12">
                      
                        <div class="card-body">
                             <p class="text-info pl-3"><u><b>@Html.Raw(@menuItem.Name).ToString().ToUpper()</b></u></p>
                            <p class="card-text">@Html.Raw(menuItem.Description)</p>

                       
                        </div>
                        <div class="card-footer">
                                   <div class="col-12  pb-1">
								<a asp-page="Details" asp-route-id="@menuItem.Id" class="btn btn-info form-control "width="100%" height="100%" >Add to Cart ₦@menuItem.Price.ToString("0.00") </a>
                                </div>
                          
                        </div>
                    </div>
                </div>
              

			}
		</div>
	</div>
	}
</div>